In [9]:
import glob
import pandas as pd
print(glob.glob("/home/adam/*.txt"))

file = r'C:\Users\ryan.lindsay\Downloads\Session from 2021-01-05 11 27 AM.zip'

[]

In [51]:
# read zipped csv
df = pd.read_csv(file)

# get all columns
col = df.columns

for i in col:
    if 'OEQ:' in i:
        if not oeq_col: # get first OEQ column
            oeq_col = i
        else:
            break

OEQ: What is a computer and what is copmuting?

In [63]:
new = df[ ['Name','Date',oeq_col] ]
new.drop_duplicates()

,Name,Date,OEQ: What is a computer and what is copmuting?
0,Alicia,01/05/2021,-
1,ben,01/05/2021,-
2,Charlotte,01/05/2021,-
5,Christian,01/05/2021,-
6,Damion,01/05/2021,-
7,Decosta,01/05/2021,-
8,Elena,01/05/2021,-
9,Henry,01/05/2021,-
10,I'Jah Wright,01/05/2021,-
11,Maurice,01/05/2021,-
12,Maurice Mitchell-Lewis,01/05/2021,-
14,Mayrin Santos-Aguilar,01/05/2021,-
15,MIa,01/05/2021,-
16,Nadia,01/05/2021,-
17,Narhia,01/05/2021,-
18,Nick,01/05/2021,-
19,praseuth,01/05/2021,-
20,Preston,01/05/2021,-
21,Saniya,01/05/2021,-
22,Taija,01/05/2021,-
23,Theng,01/05/2021,-

In [53]:
df

,Name,Other,Date,Join Date,Participation%,Poll Score,Poll: How many computers are in this photo?,OEQ Score,OEQ: What is a computer and what is copmuting?
0,Alicia,NaN,01/05/2021,01/05/2021 11:36:45,50,NaN,9,NaN,-
1,ben,NaN,01/05/2021,01/05/2021 11:34:35,0,NaN,NaN,NaN,-
2,Charlotte,charlie,01/05/2021,01/05/2021 11:39:12,0,NaN,-,NaN,-
3,Charlotte,NaN,01/05/2021,01/05/2021 11:47:11,0,NaN,-,NaN,-
4,Charlotte,Charlie,01/05/2021,01/05/2021 11:37:23,0,NaN,-,NaN,-
5,Christian,NaN,01/05/2021,01/05/2021 11:40:09,0,NaN,NaN,NaN,-
6,Damion,NaN,01/05/2021,01/05/2021 11:33:21,0,NaN,NaN,NaN,-
7,Decosta,NaN,01/05/2021,01/05/2021 11:37:34,0,NaN,NaN,NaN,-
8,Elena,Erin,01/05/2021,01/05/2021 11:28:34,50,NaN,9,NaN,-
9,Henry,Henry,01/05/2021,01/05/2021 11:38:56,0,NaN,NaN,NaN,-
10,I'Jah Wright,bpyvj,01/05/2021,01/05/2021 11:36:42,0,NaN,NaN,NaN,-
11,Maurice,Mau,01/05/2021,01/05/2021 11:49:20,0,NaN,-,NaN,-
12,Maurice Mitchell-Lewis,Mau/Mo,01/05/2021,01/05/2021 11:42:41,0,NaN,-,NaN,-
13,Maurice Mitchell-Lewis,Maurice,01/05/2021,01/05/2021 11:32:53,0,NaN,-,NaN,-
14,Mayrin Santos-Aguilar,NaN,01/05/2021,01/05/2021 11:36:52,50,NaN,5,NaN,-
15,MIa,NaN,01/05/2021,01/05/2021 11:36:30,0,NaN,-,NaN,-
16,Nadia,BPYVJ,01/05/2021,01/05/2021 11:35:00,50,NaN,2,NaN,-
17,Narhia,NaN,01/05/2021,01/05/2021 11:36:36,0,NaN,NaN,NaN,-
18,Nick,Bpyyj,01/05/2021,01/05/2021 11:34:55,50,NaN,6,NaN,-
19,praseuth,NaN,01/05/2021,01/05/2021 11:37:38,0,NaN,NaN,NaN,-
20,Preston,NaN,01/05/2021,01/05/2021 11:37:46,50,NaN,6,NaN,-
21,Saniya,Saniya,01/05/2021,01/05/2021 11:36:05,0,NaN,NaN,NaN,-
22,Taija,NaN,01/05/2021,01/05/2021 11:36:29,0,NaN,NaN,NaN,-
23,Theng,NaN,01/05/2021,01/05/2021 12:03:08,0,NaN,NaN,NaN,-

get columns
keep name, data, second OEQ column
remove duplicates
append to df

after all files, write to desktop